-#%ul
  - @messages.each do |message|
    .row
      .col-md-2.col-md-offset-1
        .user_mail
          = message.user.email + ": "
      .col-md-5.col-md-offset-1
        = message.content
.row
  .col-md-8.user_mail.panel-heading
    = message.user.email + ": "
  .col-md-10.col-md-offset-1.panel-footer
    = message.content