.row
  .col-md-10.col-md-push-1
    = paginate @pictures
    .row
      - @pictures.each do |picture|
        .col-md-3.col-md-offset-1.picture
          = link_to image_tag(picture.location_url, class: "img-circle"), category_picture_path(picture.category, picture)