/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

header {
  height: 40px;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      li{
        color: red;
      }
      a {
        color: white;
      }
    }
  }
}

body {
  padding-top: 60px;
}

h1 {
  //padding-left: 30px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  color: forestgreen;
}

//.pictures {
//  //padding-left: 50px;
//  .pagination {
//    font-size: 2em;
//  }
//}
.user_mail {
  color: blue;
}

.email{
  color: white;
}

.img-circle{
  height: 128px;
  width: 128px;
}
.img-thumbnail{
  min-height: 50vh;
  max-height: 50vh;
  max-width: 50vw;
}

.msg-img{
  min-height: 10vh;
  max-height: 10vh;
  max-width: 10vw;

}
.carousel{
  max-width: 30vw;
}
.youtube{
  min-height: 16vh;
  max-height: 16vh;
  max-width: 16vw;
}
.youtube-video{
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;

}
.users_all{
  .navbar {
    background-color: #3a2665;
    color: #ffffff;
  }
  .nav {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    li {
      a {
        font-size: small;
        max-width: 100%;
        tfont-stretch: expanded;
      }
    }
  }
  //min-width: 2vw;
  //width: 4vw;
  .user-list{
    height:100vh;
    display: none;
    //visibility: hidden;
    //width: 0px;
  }
  .left-panel{
    right: auto;
    left: auto;
  }
  .hide-chat-btn{
    height: 100vh;
    //max-width: 100%;
    display:block;
    text-align:center;
  }
}

.mini-chat{
  .conversation{
    height: 550px;
    width: 500px;
    border-style: solid;
    border-color: lightgray;
    background-color: ghostwhite;
    .conversation-messages{
      //padding-top: 8px;
      //margin-top: 14px;
      height: 400px;
      width: 450px;
      overflow: scroll;
      //overflow-wrap: normal;
      overflow-x: hidden;
      overflow-y: visible;
      border-style: solid;
      border-color: lightgray;
      background-color: aliceblue;
      .row{
        padding-left: 5px;
      }
      img{
        min-height: 10vh;
        max-height: 10vh;
        max-width: 10vw;
      }
    }
    .messages{
      width: 450px;
      //border-style: solid;
      //border-color: royalblue;
      textarea{
      }
    }

  }
}