.users_all.col-md-12
  .user-list
    %ul{class: "left-panel nav  nav-pills nav-stacked pull-left"}
      - @users_all.each do |user|
        %li
          = link_to user.email, conversations_path(user_id: user.id), {method: :post}
  %button.hide-chat-btn.glyphicon.glyphicon-menu-right
